<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <config>
    <add key="signatureValidationMode" value="accept" />
  </config>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <packagesources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="dotnet-local" value="/root/nuget-packages" />
  </packagesources>
</configuration>